openapi: 3.0.0
info:
  title: 'System API'
  description: "Access and control game server, players, monetization, tasks via external applications.\n\n:::warning WORK IN PROGRESS\nThis API is work in progress. Things may change.\n:::\n## 3rd party Integration\nWhen you're developing a 3rd party app that connects with the System API, you need to include your GSA-ID header with all requests.\nIf you don't have a GSA-ID yet, please contact support@gameserverapp.com.\n\n## Rate limit\nYou are rate limited to 100 requests per minute."
  contact:
    email: support@gameserverapp.com
  version: '2'
servers:
  -
    url: 'https://api.gameserverapp.com'
    description: api.gameserverapp.com
paths:
  '/system-api/v2/config-template/{configtemplate_id}/config/{location}':
    get:
      tags:
        - Config
      summary: 'Get config'
      description: 'Get a particular Config for the Config template.'
      operationId: getConfig
      parameters:
        -
          name: configtemplate_id
          in: path
          required: true
          schema:
            type: integer
          example: '39581'
        -
          name: location
          in: path
          required: true
          schema:
            type: string
          example: GameUserSettings.ini
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Config'
      security:
        -
          systemapi-passport:
            - config-template
    put:
      tags:
        - Config
      summary: 'Update config content'
      description: 'Update particular Config for Config template.'
      operationId: updateConfig
      parameters:
        -
          name: configtemplate_id
          in: path
          required: true
          schema:
            type: integer
          example: '39581'
        -
          name: location
          in: path
          required: true
          schema:
            type: string
          example: GameUserSettings.ini
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
                - content
              properties:
                content:
                  type: string
                  example: '[ServerSettings]\r\nAutoSavePeriodMinutes=30.000000\r\n\r\nHarvestAmountMultiplier=1.000000'
              type: object
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Config'
      security:
        -
          systemapi-passport:
            - config-template
  /system-api/v2/config-templates:
    get:
      tags:
        - 'Config Template'
      summary: 'All Config templates'
      description: 'Lists all Config template for the dashboard.'
      operationId: AllConfigTemplates
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ConfigTemplate'
      security:
        -
          systemapi-passport:
            - config-template
  '/system-api/v2/config-template/{configtemplate_id}':
    get:
      tags:
        - 'Config Template'
      summary: 'Get Config template'
      description: 'Get the Config template for the provided ID.'
      operationId: getConfigTemplate
      parameters:
        -
          name: configtemplate_id
          in: path
          required: true
          schema:
            type: integer
          example: '39581'
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigTemplate'
      security:
        -
          systemapi-passport:
            - config-template
    put:
      tags:
        - 'Config Template'
      summary: 'Update Config template'
      description: 'Update an existing Config template.'
      operationId: updateConfigTemplate
      parameters:
        -
          name: configtemplate_id
          in: path
          required: true
          schema:
            type: integer
          example: '39581'
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
                - name
              properties:
                name:
                  type: string
                  example: 'My config template'
              type: object
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigTemplate'
      security:
        -
          systemapi-passport:
            - config-template
  /system-api/v2/config-template:
    post:
      tags:
        - 'Config Template'
      summary: 'Store Config template'
      description: 'Store a new Config template.'
      operationId: storeConfigTemplate
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
                - name
                - app_id
              properties:
                name:
                  type: string
                  example: 'My config template'
                app_id:
                  type: integer
                  example: '376030'
              type: object
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigTemplate'
      security:
        -
          systemapi-passport:
            - config-template
  '/system-api/v2/config-template/{configtemplate_id}/restart-servers':
    post:
      tags:
        - 'Config Template'
      summary: 'Restart Config servers'
      description: 'Restart all servers that have this Config template connected.'
      operationId: restartServersConfigTemplate
      parameters:
        -
          name: configtemplate_id
          in: path
          required: true
          schema:
            type: integer
          example: '39581'
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                properties:
                  data: { type: string, example: 'Restart requested' }
                type: object
        '400':
          description: 'No servers connected'
          content:
            application/json:
              schema:
                properties:
                  message: { type: string, example: 'No servers connected' }
                type: object
      security:
        -
          systemapi-passport:
            - config-template
  /system-api/v2/game/available:
    get:
      tags:
        - Game
      summary: 'All supported games'
      description: 'Lists all games currently supported on GSA.'
      operationId: AllGames
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Game'
  /system-api/v2/gameservers:
    get:
      tags:
        - 'Game Server'
      summary: 'All game servers'
      description: 'Lists all active/installed game servers for the dashboard.'
      operationId: AllGameServers
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GameServer'
      security:
        -
          systemapi-passport:
            - gameserver
  '/system-api/v2/gameserver/{gameserver_id}':
    get:
      tags:
        - 'Game Server'
      summary: 'Get game server'
      description: 'Get the game server for the provided ID.'
      operationId: getGameServer
      parameters:
        -
          name: gameserver_id
          in: path
          required: true
          schema:
            type: integer
          example: '57294'
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameServer'
      security:
        -
          systemapi-passport:
            - gameserver
  '/system-api/v2/gameserver/{gameserver_id}/broadcast':
    post:
      tags:
        - 'Game Server'
      summary: 'Broadcast message to game server'
      description: 'Send broadcast message to game server.'
      operationId: broadcastGameServer
      parameters:
        -
          name: gameserver_id
          in: path
          required: true
          schema:
            type: integer
          example: '57294'
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
                - message
              properties:
                message:
                  type: string
                  example: 'Hello world!'
                type:
                  type: string
                  default: warning
                  enum: [broadcast, success, warning, error]
                  example: success
              type: object
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                properties:
                  data: { type: string, example: 'Broadcast sent to game server' }
                type: object
      security:
        -
          systemapi-passport:
            - gameserver
  '/system-api/v2/gameserver/{gameserver_id}/command':
    post:
      tags:
        - 'Game Server'
      summary: 'Run command on game server'
      description: 'Send command to game server.'
      operationId: commandGameServer
      parameters:
        -
          name: gameserver_id
          in: path
          required: true
          schema:
            type: integer
          example: '57294'
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
                - command
              properties:
                command:
                  type: string
                  example: SaveWorld
              type: object
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                properties:
                  data: { type: string, example: 'Command sent to game server' }
                type: object
      security:
        -
          systemapi-passport:
            - gameserver
  '/system-api/v2/gameserver/{gameserver_id}/start':
    post:
      tags:
        - 'Game Server'
      summary: 'Start game server'
      description: 'Start game server.'
      operationId: startGameServer
      parameters:
        -
          name: gameserver_id
          in: path
          required: true
          schema:
            type: integer
          example: '57294'
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                properties:
                  data: { type: string, example: 'Start request sent to game server' }
                type: object
      security:
        -
          systemapi-passport:
            - gameserver
  '/system-api/v2/gameserver/{gameserver_id}/update':
    post:
      tags:
        - 'Game Server'
      summary: 'Update game server'
      description: 'Schedule update for game server, with optional countdown and in-game broadcast.'
      operationId: updateGameServer
      parameters:
        -
          name: gameserver_id
          in: path
          required: true
          schema:
            type: integer
          example: '57294'
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                countdown:
                  type: integer
                  default: '0'
                  maximum: 90
                  minimum: 0
                  example: '0'
                message:
                  type: string
                  example: 'We need to update the server folks!'
              type: object
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                properties:
                  data: { type: string, example: 'Update request sent to game server' }
                type: object
      security:
        -
          systemapi-passport:
            - gameserver
  '/system-api/v2/gameserver/{gameserver_id}/shutdown':
    post:
      tags:
        - 'Game Server'
      summary: 'Shutdown game server'
      description: 'Shutdown update for game server, with optional countdown and in-game broadcast.'
      operationId: shutdownGameServer
      parameters:
        -
          name: gameserver_id
          in: path
          required: true
          schema:
            type: integer
          example: '57294'
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                countdown:
                  type: integer
                  default: '0'
                  maximum: 90
                  minimum: 0
                  example: '0'
                message:
                  type: string
                  example: 'We need to shutdown the server folks!'
              type: object
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                properties:
                  data: { type: string, example: 'Shutdown request sent to game server' }
                type: object
      security:
        -
          systemapi-passport:
            - gameserver
  '/system-api/v2/gameserver/{gameserver_id}/restart':
    post:
      tags:
        - 'Game Server'
      summary: 'Restart game server'
      description: 'Restart update for game server, with optional countdown and in-game broadcast.'
      operationId: restartGameServer
      parameters:
        -
          name: gameserver_id
          in: path
          required: true
          schema:
            type: integer
          example: '57294'
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                countdown:
                  type: integer
                  default: '0'
                  maximum: 90
                  minimum: 0
                  example: '0'
                message:
                  type: string
                  example: 'We need to restart the server folks!'
              type: object
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                properties:
                  data: { type: string, example: 'Restart request sent to game server' }
                type: object
      security:
        -
          systemapi-passport:
            - gameserver
  '/system-api/v2/gameserver/{gameserver_id}/cancel':
    post:
      tags:
        - 'Game Server'
      summary: 'Cancel actions'
      description: 'Cancel scheduled game server actions'
      operationId: cancelGameServer
      parameters:
        -
          name: gameserver_id
          in: path
          required: true
          schema:
            type: integer
          example: '57294'
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                properties:
                  data: { type: string, example: 'Cancelled scheduled actions for game server' }
                type: object
      security:
        -
          systemapi-passport:
            - gameserver
  '/system-api/v2/task/{task_id}/execute':
    post:
      tags:
        - Task
      summary: 'Execute task'
      description: 'Executes any `webhook` tasks.'
      operationId: executeTask
      parameters:
        -
          name: task_id
          in: path
          required: true
          schema:
            type: integer
          example: '88683'
        -
          name: character_id
          in: query
          required: false
          schema:
            type: integer
          example: '46353'
        -
          name: service_id
          in: query
          required: false
          schema:
            type: integer
          example: '50385'
        -
          name: gameserver_id
          in: query
          required: false
          schema:
            type: integer
          example: '49274'
      responses:
        '200':
          description: 'Webhook triggered'
          content:
            application/json: {  }
      security:
        -
          systemapi-passport:
            - task
components:
  schemas:
    Cluster:
      properties:
        id:
          type: integer
          example: '583850'
        uuid:
          type: string
          format: uuid
          example: cb0440e7-d2e0-4eed-809c-16fa812ea928
        name:
          type: string
          example: 'PVP cluster'
        chat:
          properties:
            enabled:
              type: boolean
              example: 'true'
            global:
              type: boolean
              example: 'true'
            format:
              type: string
              example: '{charname} [{servername}]: {message}'
          type: object
        created_at:
          title: 'Create date'
          type: string
          format: date-time
          example: '2024-02-16T19:53:28.000000Z'
        updated_at:
          title: 'Last update date'
          type: string
          format: date-time
          example: '2024-02-16T19:53:28.000000Z'
      type: object
    Config:
      properties:
        id:
          type: integer
          example: '539274'
        location:
          type: string
          example: GameUserSettings.ini
        content:
          type: string
          example: '[ServerSettings]\r\nAutoSavePeriodMinutes=30.000000\r\n\r\nHarvestAmountMultiplier=1.000000'
        config_template_id:
          type: integer
          example: '49284'
        framework_id:
          type: integer
          example: 'null'
        plugin_id:
          type: integer
          example: 'null'
        config_template:
          $ref: '#/components/schemas/ConfigTemplate'
        created_at:
          title: 'Create date'
          type: string
          format: date-time
          example: '2024-02-16T19:53:28.000000Z'
        updated_at:
          title: 'Last update date'
          type: string
          format: date-time
          example: '2024-02-16T19:53:28.000000Z'
      type: object
    ConfigTemplate:
      properties:
        id:
          type: integer
          example: '49284'
        name:
          type: string
          example: 'My config template'
        app_id:
          type: integer
          example: '376030'
        advanced_mode:
          type: boolean
          example: 'true'
        can_edit:
          type: boolean
          example: 'true'
        server_count:
          type: integer
          example: '16'
        files:
          properties:
            files:
              type: array
              items:
                type: string
                default: GameUserSettings.ini
            parameters:
              properties:
                branch:
                  properties: { name: { type: string, example: 'SteamCMD branch' }, info: { type: string, example: 'Loads special steam branch...' }, settings: { type: boolean, example: 'true' }, type: { type: string, example: text } }
                  type: object
              type: object
          type: object
        configs:
          type: array
          items:
            $ref: '#/components/schemas/Config'
        created_at:
          title: 'Create date'
          type: string
          format: date-time
          example: '2024-02-16T19:53:28.000000Z'
        updated_at:
          title: 'Last update date'
          type: string
          format: date-time
          example: '2024-02-16T19:53:28.000000Z'
      type: object
    Game:
      properties:
        app_id:
          type: integer
          example: '376030'
        name:
          type: string
          example: 'ARK: Survival Evolved'
        icon:
          type: string
          example: 'http://dash.gameserverapp.com/img/games/ark-se.png'
        banner:
          type: string
          example: 'https://steamcdn-a.akamaihd.net/steam/apps/346110/header.jpg'
        steam:
          properties:
            client_id:
              type: integer
              example: '346110'
            server_id:
              type: integer
              example: '376030'
          type: object
        support:
          properties:
            delivery:
              type: boolean
              example: 'true'
            level:
              type: boolean
              example: 'false'
            gender:
              type: boolean
              example: 'false'
          type: object
        features:
          type: array
          items:
            properties:
              id:
                type: string
                example: game-server-manager
              promo_id:
                type: string
                example: game-server-manager
              name:
                type: string
                example: 'Game server manager'
              description:
                type: string
              value:
                type: string
                example: partially
            type: object
      type: object
    GameServer:
      properties:
        id:
          type: integer
          example: '57294'
        name:
          type: string
          example: '[EU] MyCommunity - SpecialMap / Wiped yesterday / no mods'
        display_name:
          type: string
          example: specialmapPVP
        blueprint_version_id:
          type: integer
          example: '395873'
        config_template_id:
          type: integer
          example: '49284'
        machine_id:
          type: integer
          example: '2958'
        cluster_id:
          type: string
          format: uuid
          example: cb0440e7-d2e0-4eed-809c-16fa812ea928
        cluster_chat_name:
          type: string
          example: specialmapPVP
        app_id:
          type: integer
          example: '376030'
        discord:
          properties:
            name:
              type: string
              example: '[PVP] Special map'
            tag:
              type: string
              example: smpvp
          type: object
        connection:
          properties:
            ip_address:
              type: string
              format: ipv4
              example: 123.45.67.89
            game_port:
              type: integer
              example: '7777'
            query_port:
              type: integer
              example: '27015'
            rcon_port:
              type: integer
              example: '37015'
          type: object
        backup:
          properties:
            backup_on_shutdown:
              type: boolean
              example: 'true'
            backup_on_update:
              type: boolean
              example: 'true'
          type: object
        last_healthy_at:
          title: 'Last healthy date'
          type: string
          format: date-time
          example: '2024-02-16T19:53:28.000000Z'
        last_error_at:
          title: 'Last error date'
          type: string
          format: date-time
          example: '2024-02-16T19:53:28.000000Z'
        created_at:
          title: 'Create date'
          type: string
          format: date-time
          example: '2024-02-16T19:53:28.000000Z'
        updated_at:
          title: 'Last update date'
          type: string
          format: date-time
          example: '2024-02-16T19:53:28.000000Z'
      type: object
  securitySchemes:
    systemapi-passport:
      type: http
      scheme: bearer
security:
  -
    systemapi-passport: []
