openapi: 3.0.0
info:
  title: 'System API'
  description: "Access and control game server, players, monetization, tasks via external applications.\n\n:::warning WORK IN PROGRESS\nThis API is work in progress. Things may change.\n:::\n## 3rd party Integration\n**Third-party apps** (publicly distributed or shared tools, plugins, or integrations for multiple users): include your `GSA-ID` header on every System API request. Don’t have one yet? Email support@gameserverapp.com to request yours.\n\n**Private/custom integrations** (one-off scripts or tools you build just for yourself or your organization): use your `Custom Integration` API key—no GSA-ID required.\n\n## OpenAPI file for AI\nWhen using AI tools, use the [OpenAPI file](https://api.gameserverapp.com/.well-known/openapi.yaml) to make it understand the System API.\n\n## Rate limit\nYou are rate limited to 100 requests per minute, per API key."
  contact:
    email: support@gameserverapp.com
  version: '2'
servers:
  -
    url: 'https://api.gameserverapp.com'
    description: api.gameserverapp.com
paths:
  /system-api/v2/characters:
    get:
      tags:
        - Character
      summary: 'List all characters'
      description: 'Retrieve a paginated list of all characters in the domain.'
      operationId: listCharacters
      parameters:
        -
          name: per_page
          in: query
          description: 'Number of results per page'
          required: false
          schema:
            type: integer
            default: 20
            maximum: 100
            minimum: 1
        -
          name: page
          in: query
          description: 'Page number'
          required: false
          schema:
            type: integer
            default: 1
            minimum: 1
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                properties:
                  data: { type: array, items: { $ref: '#/components/schemas/Character' } }
                  links: { properties: { first: { type: string, example: 'https://api.gameserverapp.com/system-api/v2/characters?page=1' }, last: { type: string, example: 'https://api.gameserverapp.com/system-api/v2/characters?page=5' }, prev: { type: string, example: null, nullable: true }, next: { type: string, example: 'https://api.gameserverapp.com/system-api/v2/characters?page=2' } }, type: object }
                  meta: { properties: { current_page: { type: integer, example: 1 }, from: { type: integer, example: 1 }, last_page: { type: integer, example: 5 }, links: { type: array, items: { properties: { url: { type: string, example: 'https://api.gameserverapp.com/system-api/v2/characters?page=1', nullable: true }, label: { type: string, example: '1' }, active: { type: boolean, example: true } }, type: object } }, path: { type: string, example: 'https://api.gameserverapp.com/system-api/v2/characters' }, per_page: { type: integer, example: 20 }, to: { type: integer, example: 20 }, total: { type: integer, example: 100 } }, type: object }
                type: object
      security:
        -
          systemapi-passport:
            - admin-tools
  /system-api/v2/characters/find:
    post:
      tags:
        - Character
      summary: 'Find characters by game ID'
      description: 'Find characters by their game ID or alternate game ID.'
      operationId: findCharactersByGameId
      parameters:
        -
          name: per_page
          in: query
          description: 'Number of results per page'
          required: false
          schema:
            type: integer
            default: 20
            maximum: 100
            minimum: 1
        -
          name: page
          in: query
          description: 'Page number'
          required: false
          schema:
            type: integer
            default: 1
            minimum: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                game_id:
                  description: 'Game-specific identifier'
                  type: string
                  example: '76561198023513722'
                alternate_game_id:
                  description: 'Alternative game-specific identifier (e.g., EOS ID for ASA)'
                  type: string
                  example: EOS_12345678901234567890
              type: object
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                properties:
                  data: { type: array, items: { $ref: '#/components/schemas/Character' } }
                  links: { properties: { first: { type: string, example: 'https://api.gameserverapp.com/system-api/v2/characters/find?page=1' }, last: { type: string, example: 'https://api.gameserverapp.com/system-api/v2/characters/find?page=1' }, prev: { type: string, example: null, nullable: true }, next: { type: string, example: null, nullable: true } }, type: object }
                  meta: { properties: { current_page: { type: integer, example: 1 }, from: { type: integer, example: 1 }, last_page: { type: integer, example: 1 }, links: { type: array, items: { properties: { url: { type: string, example: 'https://api.gameserverapp.com/system-api/v2/characters/find?page=1', nullable: true }, label: { type: string, example: '1' }, active: { type: boolean, example: true } }, type: object } }, path: { type: string, example: 'https://api.gameserverapp.com/system-api/v2/characters/find' }, per_page: { type: integer, example: 20 }, to: { type: integer, example: 1 }, total: { type: integer, example: 1 } }, type: object }
                type: object
        '400':
          description: 'Bad request'
          content:
            application/json:
              schema:
                properties:
                  error: { type: string, example: 'At least one search parameter is required' }
                type: object
        '404':
          description: 'Not found'
          content:
            application/json:
              schema:
                properties:
                  error: { type: string, example: 'No characters found matching the criteria' }
                type: object
      security:
        -
          systemapi-passport:
            - admin-tools
  '/system-api/v2/character/{uuid}':
    get:
      tags:
        - Character
      summary: 'Get character details'
      description: 'Retrieve detailed information about a specific character.'
      operationId: getCharacterDetails
      parameters:
        -
          name: uuid
          in: path
          description: 'UUID of the character'
          required: true
          schema:
            type: string
            format: uuid
            example: f47ac10b-58cc-4372-a567-0e02b2c3d479
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                properties:
                  data: { $ref: '#/components/schemas/Character' }
                type: object
        '404':
          description: 'Character not found'
          content:
            application/json:
              schema:
                properties:
                  error: { type: string, example: 'Character not found' }
                type: object
      security:
        -
          systemapi-passport:
            - admin-tools
  '/system-api/v2/character/{uuid}/groups':
    get:
      tags:
        - Character
      summary: 'Get character groups'
      description: 'Retrieve all groups/tribes that a character belongs to.'
      operationId: getCharacterGroups
      parameters:
        -
          name: uuid
          in: path
          description: 'UUID of the character'
          required: true
          schema:
            type: string
            format: uuid
            example: f47ac10b-58cc-4372-a567-0e02b2c3d479
        -
          name: per_page
          in: query
          description: 'Number of results per page'
          required: false
          schema:
            type: integer
            default: 20
            maximum: 100
            minimum: 1
        -
          name: page
          in: query
          description: 'Page number'
          required: false
          schema:
            type: integer
            default: 1
            minimum: 1
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                properties:
                  data: { type: array, items: { $ref: '#/components/schemas/Group' } }
                  links: { properties: { first: { type: string, example: 'https://api.gameserverapp.com/system-api/v2/character/f47ac10b-58cc-4372-a567-0e02b2c3d479/groups?page=1' }, last: { type: string, example: 'https://api.gameserverapp.com/system-api/v2/character/f47ac10b-58cc-4372-a567-0e02b2c3d479/groups?page=1' }, prev: { type: string, example: null, nullable: true }, next: { type: string, example: null, nullable: true } }, type: object }
                  meta: { properties: { current_page: { type: integer, example: 1 }, from: { type: integer, example: 1 }, last_page: { type: integer, example: 1 }, links: { type: array, items: { properties: { url: { type: string, example: 'https://api.gameserverapp.com/system-api/v2/character/f47ac10b-58cc-4372-a567-0e02b2c3d479/groups?page=1', nullable: true }, label: { type: string, example: '1' }, active: { type: boolean, example: true } }, type: object } }, path: { type: string, example: 'https://api.gameserverapp.com/system-api/v2/character/f47ac10b-58cc-4372-a567-0e02b2c3d479/groups' }, per_page: { type: integer, example: 20 }, to: { type: integer, example: 1 }, total: { type: integer, example: 1 } }, type: object }
                type: object
        '404':
          description: 'Character not found'
          content:
            application/json:
              schema:
                properties:
                  error: { type: string, example: 'Character not found' }
                type: object
      security:
        -
          systemapi-passport:
            - admin-tools
  '/system-api/v2/character/{uuid}/activity':
    get:
      tags:
        - Character
      summary: 'Get character activity'
      description: 'Retrieve the online/offline activity history for a specific character.'
      operationId: getCharacterActivity
      parameters:
        -
          name: uuid
          in: path
          description: 'UUID of the character'
          required: true
          schema:
            type: string
            format: uuid
            example: f47ac10b-58cc-4372-a567-0e02b2c3d479
        -
          name: per_page
          in: query
          description: 'Number of results per page'
          required: false
          schema:
            type: integer
            default: 20
            maximum: 100
            minimum: 1
        -
          name: page
          in: query
          description: 'Page number'
          required: false
          schema:
            type: integer
            default: 1
            minimum: 1
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                properties:
                  data: { type: array, items: { $ref: '#/components/schemas/CharacterStatus' } }
                  links: { properties: { first: { type: string, example: 'https://api.gameserverapp.com/system-api/v2/character/f47ac10b-58cc-4372-a567-0e02b2c3d479/activity?page=1' }, last: { type: string, example: 'https://api.gameserverapp.com/system-api/v2/character/f47ac10b-58cc-4372-a567-0e02b2c3d479/activity?page=5' }, prev: { type: string, example: null, nullable: true }, next: { type: string, example: 'https://api.gameserverapp.com/system-api/v2/character/f47ac10b-58cc-4372-a567-0e02b2c3d479/activity?page=2' } }, type: object }
                  meta: { properties: { current_page: { type: integer, example: 1 }, from: { type: integer, example: 1 }, last_page: { type: integer, example: 5 }, links: { type: array, items: { properties: { url: { type: string, example: 'https://api.gameserverapp.com/system-api/v2/character/f47ac10b-58cc-4372-a567-0e02b2c3d479/activity?page=1', nullable: true }, label: { type: string, example: '1' }, active: { type: boolean, example: true } }, type: object } }, path: { type: string, example: 'https://api.gameserverapp.com/system-api/v2/character/f47ac10b-58cc-4372-a567-0e02b2c3d479/activity' }, per_page: { type: integer, example: 20 }, to: { type: integer, example: 20 }, total: { type: integer, example: 100 } }, type: object }
                type: object
        '404':
          description: 'Character not found'
          content:
            application/json:
              schema:
                properties:
                  error: { type: string, example: 'Character not found' }
                type: object
      security:
        -
          systemapi-passport:
            - admin-tools
  '/system-api/v2/character/{uuid}/achievements':
    get:
      tags:
        - Character
      summary: 'Get character achievements'
      description: 'Retrieve all achievements earned by a specific character.'
      operationId: getCharacterAchievements
      parameters:
        -
          name: uuid
          in: path
          description: 'UUID of the character'
          required: true
          schema:
            type: string
            format: uuid
            example: f47ac10b-58cc-4372-a567-0e02b2c3d479
        -
          name: per_page
          in: query
          description: 'Number of results per page'
          required: false
          schema:
            type: integer
            default: 20
            maximum: 100
            minimum: 1
        -
          name: page
          in: query
          description: 'Page number'
          required: false
          schema:
            type: integer
            default: 1
            minimum: 1
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                properties:
                  data: { type: array, items: { $ref: '#/components/schemas/Achievement' } }
                  links: { properties: { first: { type: string, example: 'https://api.gameserverapp.com/system-api/v2/character/f47ac10b-58cc-4372-a567-0e02b2c3d479/achievements?page=1' }, last: { type: string, example: 'https://api.gameserverapp.com/system-api/v2/character/f47ac10b-58cc-4372-a567-0e02b2c3d479/achievements?page=5' }, prev: { type: string, example: null, nullable: true }, next: { type: string, example: 'https://api.gameserverapp.com/system-api/v2/character/f47ac10b-58cc-4372-a567-0e02b2c3d479/achievements?page=2' } }, type: object }
                  meta: { properties: { current_page: { type: integer, example: 1 }, from: { type: integer, example: 1 }, last_page: { type: integer, example: 5 }, links: { type: array, items: { properties: { url: { type: string, example: 'https://api.gameserverapp.com/system-api/v2/character/f47ac10b-58cc-4372-a567-0e02b2c3d479/achievements?page=1', nullable: true }, label: { type: string, example: '1' }, active: { type: boolean, example: true } }, type: object } }, path: { type: string, example: 'https://api.gameserverapp.com/system-api/v2/character/f47ac10b-58cc-4372-a567-0e02b2c3d479/achievements' }, per_page: { type: integer, example: 20 }, to: { type: integer, example: 20 }, total: { type: integer, example: 100 } }, type: object }
                type: object
        '404':
          description: 'Character not found'
          content:
            application/json:
              schema:
                properties:
                  error: { type: string, example: 'Character not found' }
                type: object
      security:
        -
          systemapi-passport:
            - admin-tools
  '/system-api/v2/config-template/{configtemplate_id}/config/{location}':
    get:
      tags:
        - Config
      summary: 'Get config'
      description: 'Get a particular Config for the Config template.'
      operationId: getConfig
      parameters:
        -
          name: configtemplate_id
          in: path
          required: true
          schema:
            type: integer
          example: '39581'
        -
          name: location
          in: path
          required: true
          schema:
            type: string
          example: GameUserSettings.ini
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Config'
        '404':
          description: 'Config template not found'
          content:
            application/json:
              schema:
                properties:
                  error: { type: string, example: 'Config template not found' }
                type: object
        '400':
          description: 'Invalid location'
          content:
            application/json:
              schema:
                properties:
                  error: { type: string, example: 'Invalid location' }
                type: object
      security:
        -
          systemapi-passport:
            - config-template
    put:
      tags:
        - Config
      summary: 'Update config content'
      description: 'Update particular Config for Config template.'
      operationId: updateConfig
      parameters:
        -
          name: configtemplate_id
          in: path
          required: true
          schema:
            type: integer
          example: '39581'
        -
          name: location
          in: path
          required: true
          schema:
            type: string
          example: GameUserSettings.ini
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
                - content
              properties:
                content:
                  type: string
                  example: '[ServerSettings]\r\nAutoSavePeriodMinutes=30.000000\r\n\r\nHarvestAmountMultiplier=1.000000'
              type: object
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Config'
        '404':
          description: 'Config template not found'
          content:
            application/json:
              schema:
                properties:
                  error: { type: string, example: 'Config template not found' }
                type: object
        '400':
          description: 'Invalid request'
          content:
            application/json:
              schema:
                properties:
                  error: { type: string, example: 'This config template can not be changed.' }
                type: object
      security:
        -
          systemapi-passport:
            - config-template
  /system-api/v2/config-templates:
    get:
      tags:
        - 'Config Template'
      summary: 'All Config templates'
      description: 'Lists all Config templates for the dashboard.'
      operationId: AllConfigTemplates
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ConfigTemplate'
      security:
        -
          systemapi-passport:
            - config-template
  '/system-api/v2/config-template/{configtemplate_id}':
    get:
      tags:
        - 'Config Template'
      summary: 'Get Config template'
      description: 'Get the Config template for the provided ID.'
      operationId: getConfigTemplate
      parameters:
        -
          name: configtemplate_id
          in: path
          required: true
          schema:
            type: integer
          example: '39581'
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigTemplate'
      security:
        -
          systemapi-passport:
            - config-template
    put:
      tags:
        - 'Config Template'
      summary: 'Update Config template'
      description: 'Update an existing Config template.'
      operationId: updateConfigTemplate
      parameters:
        -
          name: configtemplate_id
          in: path
          required: true
          schema:
            type: integer
          example: '39581'
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
                - name
              properties:
                name:
                  type: string
                  example: 'My config template'
              type: object
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigTemplate'
      security:
        -
          systemapi-passport:
            - config-template
  /system-api/v2/config-template:
    post:
      tags:
        - 'Config Template'
      summary: 'Store Config template'
      description: 'Store a new Config template.'
      operationId: storeConfigTemplate
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
                - name
                - app_id
              properties:
                name:
                  type: string
                  example: 'My config template'
                app_id:
                  type: integer
                  example: '376030'
              type: object
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigTemplate'
      security:
        -
          systemapi-passport:
            - config-template
  '/system-api/v2/config-template/{configtemplate_id}/restart-servers':
    post:
      tags:
        - 'Config Template'
      summary: 'Restart Config servers'
      description: 'Restart all servers that have this Config template connected.'
      operationId: restartServersConfigTemplate
      parameters:
        -
          name: configtemplate_id
          in: path
          required: true
          schema:
            type: integer
          example: '39581'
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                countdown_minutes:
                  type: integer
                  example: 15
                broadcast:
                  type: string
                  example: 'Server restart scheduled'
              type: object
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                properties:
                  data: { type: string, example: 'Restart requested' }
                type: object
        '400':
          description: 'No servers connected'
          content:
            application/json:
              schema:
                properties:
                  message: { type: string, example: 'No servers connected' }
                type: object
        '404':
          description: 'Config template not found'
          content:
            application/json:
              schema:
                properties:
                  error: { type: string, example: 'Config template not found' }
                type: object
      security:
        -
          systemapi-passport:
            - config-template
  /system-api/v2/game/available:
    get:
      tags:
        - Game
      summary: 'All supported games'
      description: 'Lists all games currently supported on GSA.'
      operationId: AllGames
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Game'
      security:
        -
          systemapi-passport:
            - game
  /system-api/v2/gameservers:
    get:
      tags:
        - 'Game Server'
      summary: 'All game servers'
      description: 'Lists all active/installed game servers for the dashboard.'
      operationId: AllGameServers
      parameters:
        -
          name: page
          in: query
          description: 'Page number'
          required: false
          schema:
            type: integer
            default: 1
        -
          name: per_page
          in: query
          description: 'Items per page'
          required: false
          schema:
            type: integer
            default: 20
            maximum: 100
            minimum: 1
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                properties:
                  data: { type: array, items: { $ref: '#/components/schemas/GameServer' } }
                  meta: { properties: { current_page: { type: integer, example: 1 }, from: { type: integer, example: 1 }, last_page: { type: integer, example: 5 }, path: { type: string, example: 'https://api.gameserverapp.com/system-api/v2/gameservers' }, per_page: { type: integer, example: 20 }, to: { type: integer, example: 20 }, total: { type: integer, example: 100 } }, type: object }
                type: object
      security:
        -
          systemapi-passport:
            - gameserver
  '/system-api/v2/gameserver/{gameserver_id}':
    get:
      tags:
        - 'Game Server'
      summary: 'Get game server details'
      description: 'Retrieve detailed information about a specific game server.'
      operationId: getGameServer
      parameters:
        -
          name: gameserver_id
          in: path
          required: true
          schema:
            type: integer
          example: '57294'
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameServer'
        '404':
          description: 'Game server not found'
          content:
            application/json:
              schema:
                properties:
                  error: { type: string, example: 'Game server not found' }
                type: object
      security:
        -
          systemapi-passport:
            - gameserver
  '/system-api/v2/gameserver/{gameserver_id}/broadcast':
    post:
      tags:
        - 'Game Server'
      summary: 'Broadcast message to game server'
      description: 'Send broadcast message to game server.'
      operationId: broadcastGameServer
      parameters:
        -
          name: gameserver_id
          in: path
          required: true
          schema:
            type: integer
          example: '57294'
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
                - message
              properties:
                message:
                  type: string
                  example: 'Hello world!'
                type:
                  type: string
                  default: warning
                  enum: [broadcast, success, warning, error]
                  example: success
              type: object
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                properties:
                  data: { type: string, example: 'Broadcast sent to game server' }
                type: object
        '404':
          description: 'Game server not found'
          content:
            application/json:
              schema:
                properties:
                  error: { type: string, example: 'Game server not found' }
                type: object
        '400':
          description: 'Invalid request or server offline'
          content:
            application/json:
              schema:
                properties:
                  error: { type: string, example: 'Game server needs to be online to do this.' }
                type: object
        '429':
          description: 'Rate limited'
          content:
            application/json:
              schema:
                properties:
                  error: { type: string, example: 'You cannot do this yet. Please wait 60 second(s) between calls for the same game server.' }
                type: object
      security:
        -
          systemapi-passport:
            - gameserver
  '/system-api/v2/gameserver/{gameserver_id}/command':
    post:
      tags:
        - 'Game Server'
      summary: 'Run command on game server'
      description: 'Send command to game server.'
      operationId: commandGameServer
      parameters:
        -
          name: gameserver_id
          in: path
          required: true
          schema:
            type: integer
          example: '57294'
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
                - command
              properties:
                command:
                  type: string
                  example: SaveWorld
              type: object
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                properties:
                  data: { type: string, example: 'Command sent to game server' }
                type: object
        '404':
          description: 'Game server not found'
          content:
            application/json:
              schema:
                properties:
                  error: { type: string, example: 'Game server not found' }
                type: object
        '400':
          description: 'Invalid request or server offline'
          content:
            application/json:
              schema:
                properties:
                  error: { type: string, example: 'Game server needs to be online to do this.' }
                type: object
        '429':
          description: 'Rate limited'
          content:
            application/json:
              schema:
                properties:
                  error: { type: string, example: 'You cannot do this yet. Please wait 60 second(s) between calls for the same game server.' }
                type: object
      security:
        -
          systemapi-passport:
            - gameserver
  '/system-api/v2/gameserver/{gameserver_id}/start':
    post:
      tags:
        - 'Game Server'
      summary: 'Start game server'
      description: 'Start game server.'
      operationId: startGameServer
      parameters:
        -
          name: gameserver_id
          in: path
          required: true
          schema:
            type: integer
          example: '57294'
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                properties:
                  data: { type: string, example: 'Start request sent to game server' }
                type: object
        '404':
          description: 'Game server not found'
          content:
            application/json:
              schema:
                properties:
                  error: { type: string, example: 'Game server not found' }
                type: object
        '400':
          description: 'Failed to perform action'
          content:
            application/json:
              schema:
                properties:
                  error: { type: string, example: 'Failed to perform action. Try again later or contact support.' }
                type: object
        '429':
          description: 'Rate limited'
          content:
            application/json:
              schema:
                properties:
                  error: { type: string, example: 'You cannot do this yet. Please wait 60 second(s) between calls for the same game server.' }
                type: object
      security:
        -
          systemapi-passport:
            - gameserver
  '/system-api/v2/gameserver/{gameserver_id}/update':
    post:
      tags:
        - 'Game Server'
      summary: 'Update game server'
      description: 'Schedule update for game server, with optional countdown and in-game broadcast.'
      operationId: updateGameServer
      parameters:
        -
          name: gameserver_id
          in: path
          required: true
          schema:
            type: integer
          example: '57294'
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                countdown:
                  type: integer
                  default: '0'
                  maximum: 90
                  minimum: 0
                  example: '0'
                message:
                  type: string
                  example: 'Server update scheduled'
              type: object
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                properties:
                  data: { type: string, example: 'Update request sent to game server' }
                type: object
        '404':
          description: 'Game server not found'
          content:
            application/json:
              schema:
                properties:
                  error: { type: string, example: 'Game server not found' }
                type: object
        '400':
          description: 'Failed to perform action'
          content:
            application/json:
              schema:
                properties:
                  error: { type: string, example: 'Failed to perform action. Try again later or contact support.' }
                type: object
        '429':
          description: 'Rate limited'
          content:
            application/json:
              schema:
                properties:
                  error: { type: string, example: 'You cannot do this yet. Please wait 60 second(s) between calls for the same game server.' }
                type: object
      security:
        -
          systemapi-passport:
            - gameserver
  '/system-api/v2/gameserver/{gameserver_id}/shutdown':
    post:
      tags:
        - 'Game Server'
      summary: 'Shutdown game server'
      description: 'Schedule shutdown for game server, with optional countdown and in-game broadcast.'
      operationId: shutdownGameServer
      parameters:
        -
          name: gameserver_id
          in: path
          required: true
          schema:
            type: integer
          example: '57294'
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                countdown:
                  type: integer
                  default: '0'
                  maximum: 90
                  minimum: 0
                  example: '0'
                message:
                  type: string
                  example: 'Server shutdown scheduled'
              type: object
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                properties:
                  data: { type: string, example: 'Shutdown request sent to game server' }
                type: object
        '404':
          description: 'Game server not found'
          content:
            application/json:
              schema:
                properties:
                  error: { type: string, example: 'Game server not found' }
                type: object
        '400':
          description: 'Failed to perform action'
          content:
            application/json:
              schema:
                properties:
                  error: { type: string, example: 'Failed to perform action. Try again later or contact support.' }
                type: object
        '429':
          description: 'Rate limited'
          content:
            application/json:
              schema:
                properties:
                  error: { type: string, example: 'You cannot do this yet. Please wait 60 second(s) between calls for the same game server.' }
                type: object
      security:
        -
          systemapi-passport:
            - gameserver
  '/system-api/v2/gameserver/{gameserver_id}/restart':
    post:
      tags:
        - 'Game Server'
      summary: 'Restart game server'
      description: 'Schedule restart for game server, with optional countdown and in-game broadcast.'
      operationId: restartGameServer
      parameters:
        -
          name: gameserver_id
          in: path
          required: true
          schema:
            type: integer
          example: '57294'
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                countdown:
                  type: integer
                  default: '0'
                  maximum: 90
                  minimum: 0
                  example: '0'
                message:
                  type: string
                  example: 'Server restart scheduled'
              type: object
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                properties:
                  data: { type: string, example: 'Restart request sent to game server' }
                type: object
        '404':
          description: 'Game server not found'
          content:
            application/json:
              schema:
                properties:
                  error: { type: string, example: 'Game server not found' }
                type: object
        '400':
          description: 'Failed to perform action'
          content:
            application/json:
              schema:
                properties:
                  error: { type: string, example: 'Failed to perform action. Try again later or contact support.' }
                type: object
        '429':
          description: 'Rate limited'
          content:
            application/json:
              schema:
                properties:
                  error: { type: string, example: 'You cannot do this yet. Please wait 60 second(s) between calls for the same game server.' }
                type: object
      security:
        -
          systemapi-passport:
            - gameserver
  '/system-api/v2/gameserver/{gameserver_id}/cancel':
    post:
      tags:
        - 'Game Server'
      summary: 'Cancel game server actions'
      description: 'Cancel any pending actions (update, restart, shutdown) for the game server.'
      operationId: cancelGameServerActions
      parameters:
        -
          name: gameserver_id
          in: path
          required: true
          schema:
            type: integer
          example: '57294'
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                properties:
                  data: { type: string, example: 'Cancel request sent to game server' }
                type: object
        '404':
          description: 'Game server not found'
          content:
            application/json:
              schema:
                properties:
                  error: { type: string, example: 'Game server not found' }
                type: object
        '400':
          description: 'Failed to perform action'
          content:
            application/json:
              schema:
                properties:
                  error: { type: string, example: 'Failed to perform action. Try again later or contact support.' }
                type: object
        '429':
          description: 'Rate limited'
          content:
            application/json:
              schema:
                properties:
                  error: { type: string, example: 'You cannot do this yet. Please wait 60 second(s) between calls for the same game server.' }
                type: object
      security:
        -
          systemapi-passport:
            - gameserver
  '/system-api/v2/gameserver/{gameserver_id}/backup':
    post:
      tags:
        - 'Game Server'
      summary: 'Create game server backup'
      description: 'Create a manual backup/snapshot of the game server.'
      operationId: backupGameServer
      parameters:
        -
          name: gameserver_id
          in: path
          required: true
          schema:
            type: integer
          example: '57294'
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
                - name
              properties:
                name:
                  description: 'Name for the backup'
                  type: string
                  example: 'Pre-wipe backup'
              type: object
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                properties:
                  data: { type: string, example: 'Backup request sent to game server' }
                type: object
        '404':
          description: 'Game server not found'
          content:
            application/json:
              schema:
                properties:
                  error: { type: string, example: 'Game server not found' }
                type: object
        '400':
          description: 'Invalid request or server issues'
          content:
            application/json:
              schema:
                properties:
                  error: { type: string, example: 'You have reached the manual backup limit. Please remove a manual backup first.' }
                type: object
        '429':
          description: 'Rate limited'
          content:
            application/json:
              schema:
                properties:
                  error: { type: string, example: 'You cannot do this yet. Please wait 60 second(s) between calls for the same game server.' }
                type: object
      security:
        -
          systemapi-passport:
            - gameserver
  /system-api/v2/groups:
    get:
      tags:
        - Group
      summary: 'List all groups'
      description: 'Retrieve a paginated list of all groups/tribes in the domain.'
      operationId: listGroups
      parameters:
        -
          name: per_page
          in: query
          description: 'Number of results per page'
          required: false
          schema:
            type: integer
            default: 20
            maximum: 100
            minimum: 1
        -
          name: page
          in: query
          description: 'Page number'
          required: false
          schema:
            type: integer
            default: 1
            minimum: 1
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                properties:
                  data: { type: array, items: { $ref: '#/components/schemas/Group' } }
                  links: { properties: { first: { type: string, example: 'https://api.gameserverapp.com/system-api/v2/groups?page=1' }, last: { type: string, example: 'https://api.gameserverapp.com/system-api/v2/groups?page=5' }, prev: { type: string, example: null, nullable: true }, next: { type: string, example: 'https://api.gameserverapp.com/system-api/v2/groups?page=2', nullable: true } }, type: object }
                  meta: { properties: { current_page: { type: integer, example: 1 }, from: { type: integer, example: 1 }, last_page: { type: integer, example: 5 }, links: { type: array, items: { properties: { url: { type: string, example: 'https://api.gameserverapp.com/system-api/v2/groups?page=1', nullable: true }, label: { type: string, example: '1' }, active: { type: boolean, example: true } }, type: object } }, path: { type: string, example: 'https://api.gameserverapp.com/system-api/v2/groups' }, per_page: { type: integer, example: 20 }, to: { type: integer, example: 20 }, total: { type: integer, example: 100 } }, type: object }
                type: object
      security:
        -
          systemapi-passport:
            - admin-tools
  /system-api/v2/groups/find:
    post:
      tags:
        - Group
      summary: 'Find groups by game ID'
      description: 'Find groups by their game ID.'
      operationId: findGroupsByGameId
      parameters:
        -
          name: per_page
          in: query
          description: 'Number of results per page'
          required: false
          schema:
            type: integer
            default: 20
            maximum: 100
            minimum: 1
        -
          name: page
          in: query
          description: 'Page number'
          required: false
          schema:
            type: integer
            default: 1
            minimum: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                game_id:
                  description: 'Game-specific identifier'
                  type: string
                  example: '12345'
              type: object
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                properties:
                  data: { type: array, items: { $ref: '#/components/schemas/Group' } }
                  links: { properties: { first: { type: string, example: 'https://api.gameserverapp.com/system-api/v2/groups/find?page=1' }, last: { type: string, example: 'https://api.gameserverapp.com/system-api/v2/groups/find?page=1' }, prev: { type: string, example: null, nullable: true }, next: { type: string, example: null, nullable: true } }, type: object }
                  meta: { properties: { current_page: { type: integer, example: 1 }, from: { type: integer, example: 1 }, last_page: { type: integer, example: 1 }, links: { type: array, items: { properties: { url: { type: string, example: 'https://api.gameserverapp.com/system-api/v2/groups/find?page=1', nullable: true }, label: { type: string, example: '1' }, active: { type: boolean, example: true } }, type: object } }, path: { type: string, example: 'https://api.gameserverapp.com/system-api/v2/groups/find' }, per_page: { type: integer, example: 20 }, to: { type: integer, example: 1 }, total: { type: integer, example: 1 } }, type: object }
                type: object
        '400':
          description: 'Bad request'
          content:
            application/json:
              schema:
                properties:
                  error: { type: string, example: 'At least one search parameter is required' }
                type: object
        '404':
          description: 'Not found'
          content:
            application/json:
              schema:
                properties:
                  error: { type: string, example: 'No groups found matching the criteria' }
                type: object
      security:
        -
          systemapi-passport:
            - admin-tools
  '/system-api/v2/group/{uuid}':
    get:
      tags:
        - Group
      summary: 'Get group details'
      description: 'Retrieve detailed information about a specific group/tribe.'
      operationId: getGroupDetails
      parameters:
        -
          name: uuid
          in: path
          description: 'UUID of the group'
          required: true
          schema:
            type: string
            format: uuid
            example: f47ac10b-58cc-4372-a567-0e02b2c3d479
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                properties:
                  data: { $ref: '#/components/schemas/Group' }
                type: object
        '404':
          description: 'Group not found'
          content:
            application/json:
              schema:
                properties:
                  error: { type: string, example: 'Group not found' }
                type: object
      security:
        -
          systemapi-passport:
            - admin-tools
  '/system-api/v2/group/{uuid}/logs':
    get:
      tags:
        - Group
      summary: 'Get group logs'
      description: 'Retrieve logs for a specific group/tribe.'
      operationId: getGroupLogs
      parameters:
        -
          name: uuid
          in: path
          description: 'UUID of the group'
          required: true
          schema:
            type: string
            format: uuid
            example: f47ac10b-58cc-4372-a567-0e02b2c3d479
        -
          name: per_page
          in: query
          description: 'Number of results per page'
          required: false
          schema:
            type: integer
            default: 20
            maximum: 100
            minimum: 1
        -
          name: page
          in: query
          description: 'Page number'
          required: false
          schema:
            type: integer
            default: 1
            minimum: 1
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                properties:
                  data: { type: array, items: { $ref: '#/components/schemas/GroupLog' } }
                  links: { properties: { first: { type: string, example: 'https://api.gameserverapp.com/system-api/v2/group/f47ac10b-58cc-4372-a567-0e02b2c3d479/logs?page=1' }, last: { type: string, example: 'https://api.gameserverapp.com/system-api/v2/group/f47ac10b-58cc-4372-a567-0e02b2c3d479/logs?page=5' }, prev: { type: string, example: null, nullable: true }, next: { type: string, example: 'https://api.gameserverapp.com/system-api/v2/group/f47ac10b-58cc-4372-a567-0e02b2c3d479/logs?page=2', nullable: true } }, type: object }
                  meta: { properties: { current_page: { type: integer, example: 1 }, from: { type: integer, example: 1 }, last_page: { type: integer, example: 5 }, links: { type: array, items: { properties: { url: { type: string, example: 'https://api.gameserverapp.com/system-api/v2/group/f47ac10b-58cc-4372-a567-0e02b2c3d479/logs?page=1', nullable: true }, label: { type: string, example: '1' }, active: { type: boolean, example: true } }, type: object } }, path: { type: string, example: 'https://api.gameserverapp.com/system-api/v2/group/f47ac10b-58cc-4372-a567-0e02b2c3d479/logs' }, per_page: { type: integer, example: 20 }, to: { type: integer, example: 20 }, total: { type: integer, example: 100 } }, type: object }
                type: object
        '404':
          description: 'Group not found'
          content:
            application/json:
              schema:
                properties:
                  error: { type: string, example: 'Group not found' }
                type: object
      security:
        -
          systemapi-passport:
            - admin-tools
  /system-api/v2/players:
    get:
      tags:
        - Player
      summary: 'List players'
      description: 'Get a paginated list of players for the current domain.'
      operationId: listPlayers
      parameters:
        -
          name: per_page
          in: query
          description: 'Number of results per page'
          required: false
          schema:
            type: integer
            default: 20
            maximum: 100
            minimum: 1
        -
          name: page
          in: query
          description: 'Page number'
          required: false
          schema:
            type: integer
            default: 1
            minimum: 1
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                properties:
                  data: { type: array, items: { $ref: '#/components/schemas/Player' } }
                  links: { properties: { first: { type: string, example: 'https://api.gameserverapp.com/system-api/v2/players?page=1' }, last: { type: string, example: 'https://api.gameserverapp.com/system-api/v2/players?page=5' }, prev: { type: string, example: null, nullable: true }, next: { type: string, example: 'https://api.gameserverapp.com/system-api/v2/players?page=2' } }, type: object }
                  meta: { properties: { current_page: { type: integer, example: 1 }, from: { type: integer, example: 1 }, last_page: { type: integer, example: 5 }, links: { type: array, items: { properties: { url: { type: string, example: 'https://api.gameserverapp.com/system-api/v2/players?page=1', nullable: true }, label: { type: string, example: '1' }, active: { type: boolean, example: true } }, type: object } }, path: { type: string, example: 'https://api.gameserverapp.com/system-api/v2/players' }, per_page: { type: integer, example: 20 }, to: { type: integer, example: 20 }, total: { type: integer, example: 100 } }, type: object }
                type: object
      security:
        -
          systemapi-passport:
            - player
  /system-api/v2/players/find:
    post:
      tags:
        - Player
      summary: 'Find players by service ID'
      description: 'Find players by their service ID (e.g., Steam ID).'
      operationId: findPlayersByServiceId
      parameters:
        -
          name: per_page
          in: query
          description: 'Number of results per page'
          required: false
          schema:
            type: integer
            default: 20
            maximum: 100
            minimum: 1
        -
          name: page
          in: query
          description: 'Page number'
          required: false
          schema:
            type: integer
            default: 1
            minimum: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                service_id:
                  description: 'Service ID to search for'
                  type: string
                  example: '76561198023513722'
              type: object
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                properties:
                  data: { type: array, items: { $ref: '#/components/schemas/Player' } }
                  links: { properties: { first: { type: string, example: 'https://api.gameserverapp.com/system-api/v2/players/find?page=1' }, last: { type: string, example: 'https://api.gameserverapp.com/system-api/v2/players/find?page=1' }, prev: { type: string, example: null, nullable: true }, next: { type: string, example: null, nullable: true } }, type: object }
                  meta: { properties: { current_page: { type: integer, example: 1 }, from: { type: integer, example: 1 }, last_page: { type: integer, example: 1 }, links: { type: array, items: { properties: { url: { type: string, example: 'https://api.gameserverapp.com/system-api/v2/players/find?page=1', nullable: true }, label: { type: string, example: '1' }, active: { type: boolean, example: true } }, type: object } }, path: { type: string, example: 'https://api.gameserverapp.com/system-api/v2/players/find' }, per_page: { type: integer, example: 20 }, to: { type: integer, example: 1 }, total: { type: integer, example: 1 } }, type: object }
                type: object
        '400':
          description: 'Bad request'
          content:
            application/json:
              schema:
                properties:
                  error: { type: string, example: 'At least one search parameter is required' }
                type: object
        '404':
          description: 'Not found'
          content:
            application/json:
              schema:
                properties:
                  error: { type: string, example: 'No players found matching the criteria' }
                type: object
      security:
        -
          systemapi-passport:
            - admin-tools
  '/system-api/v2/player/{uuid}':
    get:
      tags:
        - Player
      summary: 'Get player details'
      description: 'Retrieve detailed information about a specific player.'
      operationId: getPlayerDetails
      parameters:
        -
          name: uuid
          in: path
          description: 'UUID of the player'
          required: true
          schema:
            type: string
            format: uuid
            example: f47ac10b-58cc-4372-a567-0e02b2c3d479
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                properties:
                  data: { $ref: '#/components/schemas/Player' }
                type: object
        '404':
          description: 'Player not found'
          content:
            application/json:
              schema:
                properties:
                  error: { type: string, example: 'Player not found' }
                type: object
      security:
        -
          systemapi-passport:
            - player
  '/system-api/v2/player/{uuid}/characters':
    get:
      tags:
        - Player
      summary: 'Get player characters'
      description: 'Retrieve all characters associated with a specific player.'
      operationId: getPlayerCharacters
      parameters:
        -
          name: uuid
          in: path
          description: 'UUID of the player'
          required: true
          schema:
            type: string
            format: uuid
            example: f47ac10b-58cc-4372-a567-0e02b2c3d479
        -
          name: per_page
          in: query
          description: 'Number of results per page'
          required: false
          schema:
            type: integer
            default: 20
            maximum: 100
            minimum: 1
        -
          name: page
          in: query
          description: 'Page number'
          required: false
          schema:
            type: integer
            default: 1
            minimum: 1
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                properties:
                  data: { type: array, items: { $ref: '#/components/schemas/Character' } }
                  links: { properties: { first: { type: string, example: 'https://api.gameserverapp.com/system-api/v2/player/f47ac10b-58cc-4372-a567-0e02b2c3d479/characters?page=1' }, last: { type: string, example: 'https://api.gameserverapp.com/system-api/v2/player/f47ac10b-58cc-4372-a567-0e02b2c3d479/characters?page=1' }, prev: { type: string, example: null, nullable: true }, next: { type: string, example: null, nullable: true } }, type: object }
                  meta: { properties: { current_page: { type: integer, example: 1 }, from: { type: integer, example: 1 }, last_page: { type: integer, example: 1 }, links: { type: array, items: { properties: { url: { type: string, example: 'https://api.gameserverapp.com/system-api/v2/player/f47ac10b-58cc-4372-a567-0e02b2c3d479/characters?page=1', nullable: true }, label: { type: string, example: '1' }, active: { type: boolean, example: true } }, type: object } }, path: { type: string, example: 'https://api.gameserverapp.com/system-api/v2/player/f47ac10b-58cc-4372-a567-0e02b2c3d479/characters' }, per_page: { type: integer, example: 20 }, to: { type: integer, example: 3 }, total: { type: integer, example: 3 } }, type: object }
                type: object
        '404':
          description: 'Player not found'
          content:
            application/json:
              schema:
                properties:
                  error: { type: string, example: 'Player not found' }
                type: object
      security:
        -
          systemapi-passport:
            - player
  '/system-api/v2/player/{uuid}/token-transactions':
    get:
      tags:
        - Player
      summary: 'Get player token transactions'
      description: 'Retrieve all token transactions associated with a specific player.'
      operationId: getPlayerTokenTransactions
      parameters:
        -
          name: uuid
          in: path
          description: 'UUID of the player'
          required: true
          schema:
            type: string
            format: uuid
            example: f47ac10b-58cc-4372-a567-0e02b2c3d479
        -
          name: per_page
          in: query
          description: 'Number of results per page'
          required: false
          schema:
            type: integer
            default: 20
            maximum: 100
            minimum: 1
        -
          name: page
          in: query
          description: 'Page number'
          required: false
          schema:
            type: integer
            default: 1
            minimum: 1
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                properties:
                  data: { type: array, items: { $ref: '#/components/schemas/TokenTransaction' } }
                  links: { properties: { first: { type: string, example: 'https://api.gameserverapp.com/system-api/v2/player/f47ac10b-58cc-4372-a567-0e02b2c3d479/token-transactions?page=1' }, last: { type: string, example: 'https://api.gameserverapp.com/system-api/v2/player/f47ac10b-58cc-4372-a567-0e02b2c3d479/token-transactions?page=1' }, prev: { type: string, example: null, nullable: true }, next: { type: string, example: null, nullable: true } }, type: object }
                  meta: { properties: { current_page: { type: integer, example: 1 }, from: { type: integer, example: 1 }, last_page: { type: integer, example: 1 }, links: { type: array, items: { properties: { url: { type: string, example: 'https://api.gameserverapp.com/system-api/v2/player/f47ac10b-58cc-4372-a567-0e02b2c3d479/token-transactions?page=1', nullable: true }, label: { type: string, example: '1' }, active: { type: boolean, example: true } }, type: object } }, path: { type: string, example: 'https://api.gameserverapp.com/system-api/v2/player/f47ac10b-58cc-4372-a567-0e02b2c3d479/token-transactions' }, per_page: { type: integer, example: 20 }, to: { type: integer, example: 3 }, total: { type: integer, example: 3 } }, type: object }
                type: object
        '404':
          description: 'Player not found'
          content:
            application/json:
              schema:
                properties:
                  error: { type: string, example: 'Player not found' }
                type: object
      security:
        -
          systemapi-passport:
            - admin-tools
  '/system-api/v2/player/{uuid}/votes':
    get:
      tags:
        - Player
      summary: 'Get player votes'
      description: 'Retrieve all votes cast by a specific player.'
      operationId: getPlayerVotes
      parameters:
        -
          name: uuid
          in: path
          description: 'UUID of the player'
          required: true
          schema:
            type: string
            format: uuid
            example: f47ac10b-58cc-4372-a567-0e02b2c3d479
        -
          name: per_page
          in: query
          description: 'Number of results per page'
          required: false
          schema:
            type: integer
            default: 20
            maximum: 100
            minimum: 1
        -
          name: page
          in: query
          description: 'Page number'
          required: false
          schema:
            type: integer
            default: 1
            minimum: 1
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                properties:
                  data: { type: array, items: { $ref: '#/components/schemas/Vote' } }
                  links: { properties: { first: { type: string, example: 'https://api.gameserverapp.com/system-api/v2/player/f47ac10b-58cc-4372-a567-0e02b2c3d479/votes?page=1' }, last: { type: string, example: 'https://api.gameserverapp.com/system-api/v2/player/f47ac10b-58cc-4372-a567-0e02b2c3d479/votes?page=1' }, prev: { type: string, example: null, nullable: true }, next: { type: string, example: null, nullable: true } }, type: object }
                  meta: { properties: { current_page: { type: integer, example: 1 }, from: { type: integer, example: 1 }, last_page: { type: integer, example: 1 }, links: { type: array, items: { properties: { url: { type: string, example: 'https://api.gameserverapp.com/system-api/v2/player/f47ac10b-58cc-4372-a567-0e02b2c3d479/votes?page=1', nullable: true }, label: { type: string, example: '1' }, active: { type: boolean, example: true } }, type: object } }, path: { type: string, example: 'https://api.gameserverapp.com/system-api/v2/player/f47ac10b-58cc-4372-a567-0e02b2c3d479/votes' }, per_page: { type: integer, example: 20 }, to: { type: integer, example: 3 }, total: { type: integer, example: 3 } }, type: object }
                type: object
        '404':
          description: 'Player not found'
          content:
            application/json:
              schema:
                properties:
                  error: { type: string, example: 'Player not found' }
                type: object
      security:
        -
          systemapi-passport:
            - admin-tools
  '/system-api/v2/player/{uuid}/achievements':
    get:
      tags:
        - Player
      summary: 'Get player achievements'
      description: 'Retrieve all achievements earned by a specific player and their characters.'
      operationId: getPlayerAchievements
      parameters:
        -
          name: uuid
          in: path
          description: 'UUID of the player'
          required: true
          schema:
            type: string
            format: uuid
            example: f47ac10b-58cc-4372-a567-0e02b2c3d479
        -
          name: per_page
          in: query
          description: 'Number of results per page'
          required: false
          schema:
            type: integer
            default: 20
            maximum: 100
            minimum: 1
        -
          name: page
          in: query
          description: 'Page number'
          required: false
          schema:
            type: integer
            default: 1
            minimum: 1
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                properties:
                  data: { type: array, items: { $ref: '#/components/schemas/Achievement' } }
                  links: { properties: { first: { type: string, example: 'https://api.gameserverapp.com/system-api/v2/player/f47ac10b-58cc-4372-a567-0e02b2c3d479/achievements?page=1' }, last: { type: string, example: 'https://api.gameserverapp.com/system-api/v2/player/f47ac10b-58cc-4372-a567-0e02b2c3d479/achievements?page=1' }, prev: { type: string, example: null, nullable: true }, next: { type: string, example: null, nullable: true } }, type: object }
                  meta: { properties: { current_page: { type: integer, example: 1 }, from: { type: integer, example: 1 }, last_page: { type: integer, example: 1 }, links: { type: array, items: { properties: { url: { type: string, example: 'https://api.gameserverapp.com/system-api/v2/player/f47ac10b-58cc-4372-a567-0e02b2c3d479/achievements?page=1', nullable: true }, label: { type: string, example: '1' }, active: { type: boolean, example: true } }, type: object } }, path: { type: string, example: 'https://api.gameserverapp.com/system-api/v2/player/f47ac10b-58cc-4372-a567-0e02b2c3d479/achievements' }, per_page: { type: integer, example: 20 }, to: { type: integer, example: 3 }, total: { type: integer, example: 3 } }, type: object }
                type: object
        '404':
          description: 'Player not found'
          content:
            application/json:
              schema:
                properties:
                  error: { type: string, example: 'Player not found' }
                type: object
      security:
        -
          systemapi-passport:
            - admin-tools
  '/system-api/v2/player/{uuid}/moderation-log':
    get:
      tags:
        - Player
      summary: 'Get player moderation log'
      description: "Retrieve the moderation log for a specific player, including bans, mutes, and other\n     *     administrative actions."
      operationId: getPlayerModerationLog
      parameters:
        -
          name: uuid
          in: path
          description: 'UUID of the player'
          required: true
          schema:
            type: string
            format: uuid
            example: f47ac10b-58cc-4372-a567-0e02b2c3d479
        -
          name: per_page
          in: query
          description: 'Number of results per page'
          required: false
          schema:
            type: integer
            default: 20
            maximum: 100
            minimum: 1
        -
          name: page
          in: query
          description: 'Page number'
          required: false
          schema:
            type: integer
            default: 1
            minimum: 1
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                properties:
                  data: { type: array, items: { $ref: '#/components/schemas/PlayerLog' } }
                  links: { properties: { first: { type: string, example: 'https://api.gameserverapp.com/system-api/v2/player/f47ac10b-58cc-4372-a567-0e02b2c3d479/moderation-log?page=1' }, last: { type: string, example: 'https://api.gameserverapp.com/system-api/v2/player/f47ac10b-58cc-4372-a567-0e02b2c3d479/moderation-log?page=1' }, prev: { type: string, example: null, nullable: true }, next: { type: string, example: null, nullable: true } }, type: object }
                  meta: { properties: { current_page: { type: integer, example: 1 }, from: { type: integer, example: 1 }, last_page: { type: integer, example: 1 }, links: { type: array, items: { properties: { url: { type: string, example: 'https://api.gameserverapp.com/system-api/v2/player/f47ac10b-58cc-4372-a567-0e02b2c3d479/moderation-log?page=1', nullable: true }, label: { type: string, example: '1' }, active: { type: boolean, example: true } }, type: object } }, path: { type: string, example: 'https://api.gameserverapp.com/system-api/v2/player/f47ac10b-58cc-4372-a567-0e02b2c3d479/moderation-log' }, per_page: { type: integer, example: 20 }, to: { type: integer, example: 3 }, total: { type: integer, example: 3 } }, type: object }
                type: object
        '404':
          description: 'Player not found'
          content:
            application/json:
              schema:
                properties:
                  error: { type: string, example: 'Player not found' }
                type: object
      security:
        -
          systemapi-passport:
            - admin-tools
  '/system-api/v2/player/{uuid}/kick':
    post:
      tags:
        - Player
      summary: 'Kick player'
      description: 'Kick a player from the game server.'
      operationId: kickPlayer
      parameters:
        -
          name: uuid
          in: path
          description: 'UUID of the player'
          required: true
          schema:
            type: string
            format: uuid
            example: f47ac10b-58cc-4372-a567-0e02b2c3d479
      requestBody:
        content:
          application/json:
            schema:
              properties:
                note:
                  description: "Optional\n     *                                           note about the reason for kicking"
                  type: string
                  example: 'Disruptive behavior'
              type: object
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                properties:
                  data: { type: string, example: 'Player will be kicked shortly.' }
                type: object
        '404':
          description: 'Player not found'
          content:
            application/json:
              schema:
                properties:
                  error: { type: string, example: 'Player not found' }
                type: object
        '429':
          description: 'Too many requests'
          content:
            application/json:
              schema:
                properties:
                  error: { type: string, example: "You cannot do this yet. Please wait 60\n     *                                            second(s) between calls for the same player." }
                type: object
      security:
        -
          systemapi-passport:
            - admin-tools
  '/system-api/v2/player/{uuid}/ban':
    post:
      tags:
        - Player
      summary: 'Ban player'
      description: 'Ban a player from the game server and community. ⚠️ This action has a cooldown of 120 seconds, per player.'
      operationId: banPlayer
      parameters:
        -
          name: uuid
          in: path
          description: 'UUID of the player'
          required: true
          schema:
            type: string
            format: uuid
            example: f47ac10b-58cc-4372-a567-0e02b2c3d479
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
                - type
              properties:
                note:
                  description: "Optional note about\n     *                                           the reason for banning"
                  type: string
                  example: Cheating
                type:
                  description: 'Type of ban duration'
                  type: string
                  enum: [permanent, period, date]
                  example: period
                period:
                  description: "Duration period (required if type is 'period'). Available options include:\n- **Minute-based**: `15m` (15 minutes), `30m` (30 minutes), `45m` (45 minutes)\n- **Hour-based**: `1h` (1 hour), `2h` (2 hours), `3h` (3 hours), `4h` (4 hours), `5h` (5 hours), `6h` (6 hours), `12h` (12 hours)\n- **Day-based**: `1d` (1 day), `2d` (2 days), `3d` (3 days), `4d` (4 days), `5d` (5 days), `6d` (6 days)\n- **Week-based**: `1w` (1 week), `2w` (2 weeks), `3w` (3 weeks)\n- **Month-based**: `1m` (1 month), `2m` (2 months), `3m` (3 months), `4m` (4 months), `5m` (5 months), `6m` (6 months), `7m` (7 months), `8m` (8 months), `9m` (9 months), `10m` (10 months), `11m` (11 months)\n- **Year-based**: `1y` (1 year)\n- **Special**: `0` (forever), `eod` (end of day), `eow` (end of week), `eom` (end of month), `eoy` (end of year)"
                  type: string
                  example: 7d
                date:
                  description: "End date\n     *                               (required if type is 'date')"
                  type: string
                  format: date
                  example: '2023-12-31'
              type: object
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                properties:
                  data: { type: string, example: 'Player will be banned shortly.' }
                type: object
        '400':
          description: 'Invalid input'
          content:
            application/json:
              schema:
                properties:
                  error: { type: string, example: 'Invalid period or date.' }
                type: object
        '404':
          description: 'Player not found'
          content:
            application/json:
              schema:
                properties:
                  error: { type: string, example: 'Player not found' }
                type: object
        '429':
          description: 'Too many requests'
          content:
            application/json:
              schema:
                properties:
                  error: { type: string, example: "You cannot do this yet. Please wait 120\n     *                                            second(s) between calls for the same player." }
                type: object
      security:
        -
          systemapi-passport:
            - admin-tools
  '/system-api/v2/player/{uuid}/unban':
    post:
      tags:
        - Player
      summary: 'Unban player'
      description: 'Remove a ban from a player. ⚠️ This action has a cooldown of 120 seconds, per player.'
      operationId: unbanPlayer
      parameters:
        -
          name: uuid
          in: path
          description: 'UUID of the player'
          required: true
          schema:
            type: string
            format: uuid
            example: f47ac10b-58cc-4372-a567-0e02b2c3d479
      requestBody:
        content:
          application/json:
            schema:
              properties:
                note:
                  description: "Optional note\n     *                                           about the reason for unbanning"
                  type: string
                  example: 'Good behavior'
              type: object
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                properties:
                  data: { type: string, example: 'Player will be unbanned shortly.' }
                type: object
        '404':
          description: 'Player not found'
          content:
            application/json:
              schema:
                properties:
                  error: { type: string, example: 'Player not found' }
                type: object
        '429':
          description: 'Too many requests'
          content:
            application/json:
              schema:
                properties:
                  error: { type: string, example: "You cannot do this yet. Please wait 120\n     *                                            second(s) between calls for the same player." }
                type: object
      security:
        -
          systemapi-passport:
            - admin-tools
  '/system-api/v2/player/{uuid}/mute':
    post:
      tags:
        - Player
      summary: 'Mute player'
      description: 'Mute a player on the game server. ⚠️ This action has a cooldown of 120 seconds, per player.'
      operationId: mutePlayer
      parameters:
        -
          name: uuid
          in: path
          description: 'UUID of the player'
          required: true
          schema:
            type: string
            format: uuid
            example: f47ac10b-58cc-4372-a567-0e02b2c3d479
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
                - type
              properties:
                note:
                  description: "Optional\n     *                                           note about the reason for muting"
                  type: string
                  example: 'Inappropriate language'
                type:
                  description: 'Type of mute duration'
                  type: string
                  enum: [permanent, period, date]
                  example: period
                period:
                  description: "Duration period (required if type is 'period'). Available options include:\n- **Minute-based**: `15m` (15 minutes), `30m` (30 minutes), `45m` (45 minutes)\n- **Hour-based**: `1h` (1 hour), `2h` (2 hours), `3h` (3 hours), `4h` (4 hours), `5h` (5 hours), `6h` (6 hours), `12h` (12 hours)\n- **Day-based**: `1d` (1 day), `2d` (2 days), `3d` (3 days), `4d` (4 days), `5d` (5 days), `6d` (6 days)\n- **Week-based**: `1w` (1 week), `2w` (2 weeks), `3w` (3 weeks)\n- **Month-based**: `1m` (1 month), `2m` (2 months), `3m` (3 months), `4m` (4 months), `5m` (5 months), `6m` (6 months), `7m` (7 months), `8m` (8 months), `9m` (9 months), `10m` (10 months), `11m` (11 months)\n- **Year-based**: `1y` (1 year)\n- **Special**: `0` (forever), `eod` (end of day), `eow` (end of week), `eom` (end of month), `eoy` (end of year)"
                  type: string
                  example: 7d
                date:
                  description: "End date\n     *                               (required if type is 'date')"
                  type: string
                  format: date
                  example: '2023-12-31'
              type: object
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                properties:
                  data: { type: string, example: 'Player will be muted shortly.' }
                type: object
        '400':
          description: 'Invalid input'
          content:
            application/json:
              schema:
                properties:
                  error: { type: string, example: 'Invalid period or date.' }
                type: object
        '404':
          description: 'Player not found'
          content:
            application/json:
              schema:
                properties:
                  error: { type: string, example: 'Player not found' }
                type: object
        '429':
          description: 'Too many requests'
          content:
            application/json:
              schema:
                properties:
                  error: { type: string, example: "You cannot do this yet. Please wait 120\n     *                                            second(s) between calls for the same player." }
                type: object
      security:
        -
          systemapi-passport:
            - admin-tools
  '/system-api/v2/player/{uuid}/unmute':
    post:
      tags:
        - Player
      summary: 'Unmute player'
      description: 'Remove a mute from a player. ⚠️ This action has a cooldown of 120 seconds, per player.'
      operationId: unmutePlayer
      parameters:
        -
          name: uuid
          in: path
          description: 'UUID of the player'
          required: true
          schema:
            type: string
            format: uuid
            example: f47ac10b-58cc-4372-a567-0e02b2c3d479
      requestBody:
        content:
          application/json:
            schema:
              properties:
                note:
                  description: "Optional note\n     *                                           about the reason for unmuting"
                  type: string
                  example: 'Good behavior'
              type: object
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                properties:
                  data: { type: string, example: 'Player will be unmuted shortly.' }
                type: object
        '404':
          description: 'Player not found'
          content:
            application/json:
              schema:
                properties:
                  error: { type: string, example: 'Player not found' }
                type: object
        '429':
          description: 'Too many requests'
          content:
            application/json:
              schema:
                properties:
                  error: { type: string, example: "You cannot do this yet. Please wait 120\n     *                                            second(s) between calls for the same player." }
                type: object
      security:
        -
          systemapi-passport:
            - admin-tools
  '/system-api/v2/player/{uuid}/add-note':
    post:
      tags:
        - Player
      summary: 'Add note to player'
      description: 'Add an administrative note to a player''s record. ⚠️ This action has a cooldown of 5 seconds, per player.'
      operationId: addNoteToPlayer
      parameters:
        -
          name: uuid
          in: path
          description: 'UUID of the player'
          required: true
          schema:
            type: string
            format: uuid
            example: f47ac10b-58cc-4372-a567-0e02b2c3d479
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
                - note
              properties:
                note:
                  description: 'Note content to add to player record'
                  type: string
                  example: 'Player was warned about behavior'
              type: object
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                properties:
                  data: { type: string, example: 'Note was added to player.' }
                type: object
        '404':
          description: 'Player not found'
          content:
            application/json:
              schema:
                properties:
                  error: { type: string, example: 'Player not found' }
                type: object
        '429':
          description: 'Too many requests'
          content:
            application/json:
              schema:
                properties:
                  error: { type: string, example: "You cannot do this yet. Please wait 5\n     *                                            second(s) between calls for the same player." }
                type: object
      security:
        -
          systemapi-passport:
            - admin-tools
  '/system-api/v2/player/{uuid}/mutate-tokens':
    post:
      tags:
        - Player
      summary: 'Mutate player tokens'
      description: 'Add or remove tokens from a player''s balance. ⚠️ This action has a cooldown of 5 seconds, per player.'
      operationId: mutatePlayerTokens
      parameters:
        -
          name: uuid
          in: path
          description: 'UUID of the player'
          required: true
          schema:
            type: string
            format: uuid
            example: f47ac10b-58cc-4372-a567-0e02b2c3d479
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
                - amount
              properties:
                amount:
                  description: "Amount of tokens to add or\n     *                                             remove"
                  type: integer
                  example: 100
                description:
                  description: 'Description of the token transaction'
                  type: string
                  example: 'Refund for purchase'
              type: object
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                properties:
                  data: { type: string, example: 'Tokens were mutated.' }
                type: object
        '400':
          description: 'Invalid input'
          content:
            application/json:
              schema:
                properties:
                  error: { type: string, example: 'Invalid amount or description.' }
                type: object
        '404':
          description: 'Player not found'
          content:
            application/json:
              schema:
                properties:
                  error: { type: string, example: 'Player not found' }
                type: object
        '429':
          description: 'Too many requests'
          content:
            application/json:
              schema:
                properties:
                  error: { type: string, example: "You cannot do this yet. Please wait 5\n     *                                            second(s) between calls for the same player." }
                type: object
      security:
        -
          systemapi-passport:
            - admin-tools
  '/system-api/v2/player/{uuid}/custom-role/{roleId}/add':
    post:
      tags:
        - Player
      summary: 'Add custom role to player'
      description: 'Add a custom role to a player with a specified duration. ⚠️ This action has a cooldown of 5 seconds, per player.'
      operationId: addCustomRoleToPlayer
      parameters:
        -
          name: uuid
          in: path
          description: 'UUID of the player'
          required: true
          schema:
            type: string
            format: uuid
            example: f47ac10b-58cc-4372-a567-0e02b2c3d479
        -
          name: roleId
          in: path
          description: 'ID of the custom role to add'
          required: true
          schema:
            type: integer
            example: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
                - period
              properties:
                period:
                  description: "Duration period (required if type is 'period'). Available options include:\n- **Minute-based**: `15m` (15 minutes), `30m` (30 minutes), `45m` (45 minutes)\n- **Hour-based**: `1h` (1 hour), `2h` (2 hours), `3h` (3 hours), `4h` (4 hours), `5h` (5 hours), `6h` (6 hours), `12h` (12 hours)\n- **Day-based**: `1d` (1 day), `2d` (2 days), `3d` (3 days), `4d` (4 days), `5d` (5 days), `6d` (6 days)\n- **Week-based**: `1w` (1 week), `2w` (2 weeks), `3w` (3 weeks)\n- **Month-based**: `1m` (1 month), `2m` (2 months), `3m` (3 months), `4m` (4 months), `5m` (5 months), `6m` (6 months), `7m` (7 months), `8m` (8 months), `9m` (9 months), `10m` (10 months), `11m` (11 months)\n- **Year-based**: `1y` (1 year)\n- **Special**: `0` (forever), `eod` (end of day), `eow` (end of week), `eom` (end of month), `eoy` (end of year)"
                  type: string
                  example: 7d
              type: object
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                properties:
                  data: { type: string, example: 'Custom Role was added to player.' }
                type: object
        '400':
          description: 'Invalid input'
          content:
            application/json:
              schema:
                properties:
                  error: { type: string, example: 'Invalid period or date.' }
                type: object
        '404':
          description: 'Player or role not found'
          content:
            application/json:
              schema:
                properties:
                  error: { type: string, example: 'Invalid role_id.' }
                type: object
        '429':
          description: 'Too many requests'
          content:
            application/json:
              schema:
                properties:
                  error: { type: string, example: "You cannot do this yet. Please wait 5\n     *                                            second(s) between calls for the same player." }
                type: object
      security:
        -
          systemapi-passport:
            - admin-tools
  '/system-api/v2/player/{uuid}/custom-role/{roleId}/remove':
    post:
      tags:
        - Player
      summary: 'Remove custom role from player'
      description: 'Remove a custom role from a player. ⚠️ This action has a cooldown of 5 seconds, per player.'
      operationId: removeCustomRoleFromPlayer
      parameters:
        -
          name: uuid
          in: path
          description: 'UUID of the player'
          required: true
          schema:
            type: string
            format: uuid
            example: f47ac10b-58cc-4372-a567-0e02b2c3d479
        -
          name: roleId
          in: path
          description: 'ID of the custom role to remove'
          required: true
          schema:
            type: integer
            example: 1
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                properties:
                  data: { type: string, example: 'Custom Role was removed from player.' }
                type: object
        '404':
          description: 'Player or role not found'
          content:
            application/json:
              schema:
                properties:
                  error: { type: string, example: 'Invalid role_id.' }
                type: object
        '429':
          description: 'Too many requests'
          content:
            application/json:
              schema:
                properties:
                  error: { type: string, example: "You cannot do this yet. Please wait 5\n     *                                            second(s) between calls for the same player." }
                type: object
      security:
        -
          systemapi-passport:
            - admin-tools
  '/system-api/v2/player/{uuid}/access-group/{groupId}/add':
    post:
      tags:
        - Player
      summary: 'Add player to access group'
      description: 'Add a player to an access group with specified membership type and duration. ⚠️ This action has a cooldown of 5 seconds, per player.'
      operationId: addPlayerToAccessGroup
      parameters:
        -
          name: uuid
          in: path
          description: 'UUID of the player'
          required: true
          schema:
            type: string
            format: uuid
            example: f47ac10b-58cc-4372-a567-0e02b2c3d479
        -
          name: groupId
          in: path
          description: 'ID of the access group'
          required: true
          schema:
            type: integer
            example: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
                - period
                - membership_type
              properties:
                period:
                  description: "Duration period. Available options include:\n- **Minute-based**: `15m` (15 minutes), `30m` (30 minutes), `45m` (45 minutes)\n- **Hour-based**: `1h` (1 hour), `2h` (2 hours), `3h` (3 hours), `4h` (4 hours), `5h` (5 hours), `6h` (6 hours), `12h` (12 hours)\n- **Day-based**: `1d` (1 day), `2d` (2 days), `3d` (3 days), `4d` (4 days), `5d` (5 days), `6d` (6 days)\n- **Week-based**: `1w` (1 week), `2w` (2 weeks), `3w` (3 weeks)\n- **Month-based**: `1m` (1 month), `2m` (2 months), `3m` (3 months), `4m` (4 months), `5m` (5 months), `6m` (6 months), `7m` (7 months), `8m` (8 months), `9m` (9 months), `10m` (10 months), `11m` (11 months)\n- **Year-based**: `1y` (1 year)\n- **Special**: `0` (forever), `eod` (end of day), `eow` (end of week), `eom` (end of month), `eoy` (end of year)"
                  type: string
                  example: 7d
                membership_type:
                  description: 'Membership type: 0=Member, 1=Trial, 2=Priority'
                  type: integer
                  enum: [0, 1, 2]
                  example: 0
              type: object
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                properties:
                  data: { type: string, example: 'Player was added to access group.' }
                type: object
        '400':
          description: 'Invalid input'
          content:
            application/json:
              schema:
                properties:
                  error: { type: string, example: 'Invalid group_id.' }
                type: object
        '404':
          description: 'Player or access group not found'
          content:
            application/json:
              schema:
                properties:
                  error: { type: string, example: 'Player not found' }
                type: object
        '429':
          description: 'Too many requests'
          content:
            application/json:
              schema:
                properties:
                  error: { type: string, example: 'You cannot do this yet. Please wait 5 second(s) between calls for the same player.' }
                type: object
      security:
        -
          systemapi-passport:
            - admin-tools
  '/system-api/v2/player/{uuid}/access-group/{groupId}/remove':
    post:
      tags:
        - Player
      summary: 'Remove player from access group'
      description: 'Remove a player from an access group. ⚠️ This action has a cooldown of 5 seconds, per player.'
      operationId: removePlayerFromAccessGroup
      parameters:
        -
          name: uuid
          in: path
          description: 'UUID of the player'
          required: true
          schema:
            type: string
            format: uuid
            example: f47ac10b-58cc-4372-a567-0e02b2c3d479
        -
          name: groupId
          in: path
          description: 'ID of the access group to remove player from'
          required: true
          schema:
            type: integer
            example: 1
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                properties:
                  data: { type: string, example: 'Player was removed from access group.' }
                type: object
        '400':
          description: 'Invalid input'
          content:
            application/json:
              schema:
                properties:
                  error: { type: string, example: 'Invalid group_id.' }
                type: object
        '404':
          description: 'Player or access group not found'
          content:
            application/json:
              schema:
                properties:
                  error: { type: string, example: 'Player not found' }
                type: object
        '429':
          description: 'Too many requests'
          content:
            application/json:
              schema:
                properties:
                  error: { type: string, example: 'You cannot do this yet. Please wait 5 second(s) between calls for the same player.' }
                type: object
      security:
        -
          systemapi-passport:
            - admin-tools
  '/system-api/v2/task/{task_id}/execute':
    post:
      tags:
        - Task
      summary: 'Execute task'
      description: 'Executes any `webhook` tasks. After executing a webhook, you need to wait 3 seconds before executing the same webhook again.'
      operationId: executeTask
      parameters:
[...]
