.footer {
    background:#111;
    color:#999;

    &__links {

        .footer__link {
            &-item {
                span {
                    svg {display: none}
                }
            }
        }

    }

    &__copyright {
        color:#666;
        font-size:.8rem;
    }
}